@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.search {
  padding-top: 1rem;
  &__wrapper {
    margin: 0 4rem;
    @include desktop {
      width: 1080px;
      margin: 0 auto;
    }
  }
  &__backarrow {
    width: 2.25rem;
    margin: 0 2rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__form {
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $mercury;
  }
  &__bar {
    display: flex;
    & > input {
      flex-grow: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      height: 3rem;
      &:focus + button.search__button {
        border: 1px solid $moviegram-blue;
        border-left: 0;
      }
    }
    & > button.search__button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      display: flex;
      align-items: center;
      height: 3rem;
      border: 1px solid $mercury;
      border-left: 0;
    }
  }
  &__categories {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
  }
  &__category {
    height: 3rem;
    width: 50%;
    background: $lightgrey;
    color: $moviegram-black;
    border: 1px solid $mercury;
    &:hover {
      color: $white;
    }
    &--first {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }
    &--last {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &--active {
      background: $moviegram-blue;
      color: $white;
    }
  }
}
