// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
// colors
$moviegram-black: #323232;
$moviegram-blue: #0095ff;
$moviegram-green: #158463;
$moviegram-red: #c94515;
$moviegram-darkred: #a43209;
$silver: #afafaf;
$white: #ffffff;
$lightgrey: #f7f8f9;
$moviegram-darkblack: #000000;
$moviegram-darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;
