@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.profile {
  padding: 0 2rem;
  padding-top: 1rem;
  &__backarrow {
    margin-bottom: 1rem;
    width: 2.25rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__wrapper {
    @include tablet {
      padding: 0 2rem;
    }
  }
  &__info {
    display: flex;
    margin-bottom: 1rem;
    &-container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .reviews {
        color: $silver;
      }
    }
    &-names {
      display: flex;
      justify-content: space-between;
    }
  }
  &__avatar {
    margin-right: 2rem;
  }
  &__bio {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $mercury;
  }
  &__bio > * {
    display: inline;
  }
  &__reviews {
    padding: 0 1rem;
  }
}
