@use "../../styles/partials/variables" as *;

.header {
  position: sticky;
  top: 0;
  background: $lightgrey;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  &__logo {
    margin-left: 1rem;
  }
  .nav {
    display: flex;
    > a.active {
      border-bottom: 4px solid $moviegram-blue;
    }
    > a:hover {
      border-bottom: 4px solid $moviegram-darkblue;
    }
    &__icon {
      width: 2.25rem;
      margin: 0 1rem;
    }
  }
}
