@use "../../styles/partials/variables" as *;

.post {
  width: 30rem;
  margin: 0 auto;
  padding: 2rem 0;
  border-bottom: 1px solid $mercury;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    &-container {
      display: flex;
      align-items: center;
    }
  }

  &__avatar {
    width: 2.25rem;
    margin-right: 0.5rem;
  }
  &__edit {
    margin-left: 1rem;
    border-radius: 1.25rem;
  }
  &__delete {
    margin-left: 1rem;
    border-radius: 1.25rem;
    background: $moviegram-red;
    &:hover {
      background-color: $moviegram-darkred;
    }
  }
  &__timestamp {
    color: $silver;
  }
  &__poster {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
  }
  &__rating {
    &-section {
      text-align: center;
      margin: 0.5rem 0;
    }
    &--good {
      color: $moviegram-blue;
    }
    &--bad {
      color: $moviegram-red;
    }
  }
  &__cta-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  &__icon-container {
    display: flex;
  }
  &__icon {
    cursor: pointer;
    margin: 0 0.5rem;
    &--first {
      margin-left: 0;
    }
    &--last {
      margin-right: 0;
    }
  }
  &__like-cnt {
    color: $silver;
  }
  &__review-section * {
    display: inline;
  }
}

.comments {
  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  &__input {
    flex-grow: 1;
    margin: 0 0.5rem;
  }

  &__avatar {
    width: 2.25rem;
  }

  &__view-toggle {
    cursor: pointer;
    display: inline;
    color: $silver;
  }
}
